* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: 'BreveText', 'Helvetica', sans-serif;
  font-feature-settings: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

/* Navbar Styles */
.navC {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 10px 10px -10px #111;
  position: relative;
  top: 0;
  overflow: hidden;
  background-blend-mode: overlay;
  z-index: 5;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

#vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
  background-position: center;
}

.logo {
  width: 18%;
  height: 100%;
  margin-left: 10px;
  mix-blend-mode: color-burn;
  background-image: url(./Product-page/img/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(5px 5px 5px rgba(98, 96, 96, 0.778));
  z-index: 15;
}

.navmenu {
  width: 82%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.uppernav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.lowwernav {
  z-index: 10;
}

.search {
  width: 350px;
  margin-left: 20px;
}

#upperform {
  width: fit-content;
  height: 40px;
  display: flex;
  border-radius: 5px;
  border: 0.5px solid rgb(202, 202, 202);
  border-radius: 25px;
  filter: drop-shadow(5px 5px 5px black);
}

#search {
  width: 320px;
  border: none;
  border-radius: 25px 0px 0px 25px;
}

button[type="submit"] {
  overflow: hidden;
  width: 30px;
  border: 1px solid transparent;
  cursor: pointer;
  opacity: 0.7;
  border-radius: 0px 25px 25px 0px;
}


.login-cart {
  height: 30px;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 650px;
}

.login-cart a {
  margin-left: 5px;
  color: white;
}

.login-cart a:hover {
  text-decoration: underline;
}

#cart {
  font-size: 25px;
  font-weight: bold;
  padding-left: 5px;
  padding-bottom: 5px;
  border-left: 0.5px solid #c2c2c2;
}

.login-cart #carta {
  margin-right: 20px;
}

nav {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 14px;
}

.menu {
  display: flex;
}

#listmenu {
  padding-left: 50px;
}

#listmenu1 {
  padding-left: 20px;
}

.menu ul li a {
  width: 100%;
  height: 100%;
  padding: 5px;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
}

.menu ul li a:hover {
  background-color: black;
  color: white;
  border: none;
  filter: drop-shadow(2.5px 2.5px 2.5px rgba(254, 254, 254, 0.656));
}

/*................FOOTER................*/
* {
  font-family: Open Sans;
}
.footer-distributed .footer-left div.logo {
  width: 240px;
  height: 100px;
  margin-left: 10px;
  background-image: url(./Product-page/img/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
  z-index: 25;
}

.footer-distributed {
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 45px 45px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 10px 0 12px 10px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.footer-distributed .footer-links a:hover{
  color:rgb(60, 60, 91);
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 0 10px;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 10px;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;

}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed {
      font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }

  .footer-distributed .footer-center i {
      margin-left: 0;
  }

}


/*................FORM................*/

div.main {
  width: 400px;
  margin: 100px auto 0px auto;
}

.form {
  height: 900px;
  z-index: 10;
}

h2 {
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
}

div.register {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 60px 0px 0px 39%;
  width: 350px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: inline-block;
  align-items: center;
}

form#register {
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 40px;
}

label {
  font-family: sans-serif;
  font-size: 18px;
  font-style: italic;
}

input#name {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: 0;
  padding: 7px;
  background-color: #fff;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}

input#email {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: 0;
  padding: 7px;
  background-color: #fff;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}

input#submit {
  width: 200px;
  padding: 7px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  background-color: rgba(250, 100, 0, 0.8);
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

label,
span,
h2 {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}



/*....................MAIN-BODY....................*/

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

.titlebody {
  width: 100%;
  height: 700px;
  background-color: rgb(71, 14, 169);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  overflow: hidden;
  background-blend-mode: overlay;
  z-index: 1;
  background-attachment: fixed;
}

.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.69);
  z-index: 1;
  background-attachment: fixed;
}

#vid2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
  background-position: center;
  background-attachment: fixed;
}

#H1 {
  font-size: 80px;
  margin-top: 250px;
  margin-bottom: 100px;
  color: white;
  z-index: 1;
  filter: drop-shadow(5px 5px 2.5px black);
}

#H2 {
  width: 60%;
  height: 80px;
  border: 5px solid white;
  border-radius: 50px;
  padding-top: 10px;
  margin: 0 20%;
  font-size: 40px;
  color: white;
  z-index: 1;
  filter: drop-shadow(4px 4px 2.5px black);
}

#arrow {
  font-size: 40px;
  margin-top: 65px;
  color: yellowgreen;
}


.toys1 {
  width: 100%;
  height: 540px;
  background-image: url(./Product-page/img/9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.toys2 {
  width: 100%;
  height: 600px;
  background-image: url(./Product-page/img/3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.toys3 {
  width: 100%;
  height: 600px;
  background-image: url(./Product-page/img/6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;

}

.toys5 {
  width: 100%;
  height: 600px;
  background-image: url(./Product-page/img/8.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;

}

.toys6 {
  width: 100%;
  height: 600px;
  background-image: url(./Product-page/img/5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;

}

.productbutton h1 {
  margin-top: 20px;
  font-size: 40px;
}

.productbutton button {
  text-decoration: none;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin-top: 410px;
}

.productbutton button:hover {
  filter: drop-shadow(2px 2px 2px black);
}

#Lbtn {
  text-decoration: none;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin-top: 470px;
}

#Abtn {
  text-decoration: none;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin-top: 480px;
}

#Mh {
  margin-top: 40px;
}

#Mbtn {
  text-decoration: none;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin-top: 400px;
}

#Pbtn {
  text-decoration: none;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin-top: 470px;
}

/*....................PRODUCT-PAGE....................*/

.Pcontainer {
  width: 100%;
  height: 2000px;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  top: 0;
  overflow: hidden;
  background-blend-mode: overlay;
  z-index: 1;
}

.Pbody {
  width: 80%;
  height: fit-content;
  margin: 0 10% 50px 10%;
  padding: 50px 0 50px 0;
  background-color: white;
  z-index: 10;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Prows {
  width: 100%;
  height: 500px;
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
}

.Pcoll {
  width: 40%;
  height: 500px;
  margin: 0 5% 0 10%;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.Pcolr {
  width: 40%;
  height: 500px;
  margin: 0 10% 0 5%;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.SP1img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Soft/1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.SP2img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Soft/2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.SP3img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Soft/3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.SP4img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Soft/4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.SP5img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Soft/5.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.SP6img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Soft/6.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.MP1img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Musical/1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.MP2img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Musical/2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.MP3img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Musical/3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.MP4img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Musical/4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.MP5img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Musical/5.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.MP6img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Musical/6.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.LP1img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Lego/1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.LP2img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Lego/2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.LP3img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Lego/3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.LP4img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Lego/4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.LP5img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Lego/5.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.LP6img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Lego/6.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.AP1img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Action/1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.AP2img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Action/2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.AP3img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Action/3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.AP4img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Action/4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.AP5img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Action/5.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.AP6img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Action/6.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.PP1img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Puzzle/1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.PP2img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Puzzle/2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.PP3img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Puzzle/3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.PP4img {
  width: 100%;
  height: 60%;
  background-image: url(/src/Product-page/img/Puzzle/4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}





.SP1info {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
}




#result1 {
  margin-left: 120px;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
}

#result {
  margin-left: 120px;
}

#price {
  margin-top: 20px;
  font-size: 30px;
  display: flex;
}

#sup {
  font-weight: 100;
  font-size: 20px;
}

#oldprice {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 100;
  text-decoration: 1px line-through;
}

#mrp {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 200;
  display: flex;
}

#free {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 100;
}